
@{
    ViewBag.Title = "Cart";
}

@model eUseControl.Web.Models.CartPageData

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <div class="hero-slide-content text-center">
                    <h2 class="title-1">Cart</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- Cart Area Start -->
<div class="cart-main-area pt-100px pb-100px">
    <div class="container">
        <h3 class="cart-page-title">Your cart items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                @{
                    double total = 0;
                    double grandtotal;
                    int i = 0;
                }
                @using (Html.BeginForm("UpdateCartQty", "Product", FormMethod.Post, new { autocomplete = "off" }))
                {
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <td class="product-thumbnail d-flex justify-content-around">
                                            <a href="#"><img class="img-responsive" src=@product.PreImgPath alt="" width="80" , height="80" /></a>
                                        </td>
                                        <td class="product-name"><a href="#">@product.ProductName</a></td>
                                        <td class="product-price-cart"><span class="amount">$@product.Price</span></td>
                                        <td class="product-quantity">
                                            <div style="width: 80px; margin: auto;">
                                                @Html.HiddenFor(m => m.Products[i].CartId, new { @value = product.CartId })
                                                @Html.TextBoxFor(m => m.Products[i].Quantity, new { @type = "number", @max = @product.maxQuantity, @min = "1" })
                                            </div>
                                        </td>
                                        @{
                                            double subtotal = product.Quantity * product.Price;
                                            total += subtotal;
                                        }
                                        <td class="product-subtotal">$@subtotal</td>
                                        <td class="product-remove">
                                            <a href="@Url.Action("RemoveFromCart", "Product", new { cartId = product.CartId})"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                                @{
                                    grandtotal = total + 30;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="@Url.Action("Index", "Home")">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                    <button type="submit">Update Shopping Cart</button>
                                    <a href="@Url.Action("RemoveAllFromCart", "Product", new { userId = Model.UserId })">Clear Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-12 mt-md-30px">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                            <h5>Total products <span>$@total</span></h5>
                            <div class="total-shipping">
                                <h5>Total shipping<span>$30</span></h5>
                            </div>
                            <h4 class="grand-totall-title">Grand Total <span>$@grandtotal</span></h4>
                            <a href="@Url.Action("Checkout", "Home")">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Area End -->
