
@{
    ViewBag.Title = "Login";
}
@model eUseControl.Web.Models.UserRegister

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <div class="hero-slide-content text-center">

                    <h2 class="title-1">Register</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- login area start -->
<div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a href="@Url.Action("Index", "Login")">
                            <h4>login</h4>
                        </a>
                        <a class="active" href="@Url.Action("Index", "Register")">
                            <h4>register</h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { autocomplete = "off" }))
                                    {
                                        @Html.AntiForgeryToken();
                                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username", required = "required" });
                                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", required = "required" });
                                        @Html.PasswordFor(m => m.RepeatPassword, new { placeholder = "Repeat Password", required = "required" });
                                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", required = "required" });
                                        <div class="button-box" style="display: flex; justify-content: center;">
                                            <button type="submit"><span>Register</span></button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login area end -->
